* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding: 10px 20px;
}

body {
    background: #000;
}

.topnav {
    padding: 10px 10%;
}

div a:hover  {
    padding: 10px 10%;
    color: orange;
}

nav { 
    list-style: none;
    text-align: right;
}

nav a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
}
